.cart-container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5%;
}

.cart-products{
    width:100%;    
}

.cart-card {
    display: flex;
    padding: 10px;
    border: 1px solid skyblue;
    margin: 10px;
    border-radius: 5px;
    height: 150px;
    position: relative;
}

.cart-total {
    width: 90%;
    padding-top:5px;
}

.cart-product-details {
    margin: 5px;
}

.cart-product-brand,
.cart-product-desc {
    margin-top: -10px;
    line-height: 1;
    font-size: 15px;
}

.cart-product-brand {
    font-weight: 600;
}

.cart-product-price {
    position: absolute;
    right: 15px;
    font-weight: 600;
}

.price-total {
    margin-top: 15px;
    font-size: 14px;
}

.cart-details {
    font-weight: 500;
    font-size: 15px;
}

.removeItem{
    background:#ff3f6c;
    color:white;
    border-radius:4px;
    padding:5px 10px;
    font-size:12px;
    cursor:pointer
}

@media screen and (max-width:850px){
    .cart-container {
        display: flex;
        flex-direction: column;
    }

    .cart-card {
        display: flex;
        padding: 10px;
        border: 1px solid skyblue;
        margin:10px 0;
    }
    
    .cart-product-brand, .cart-product-desc {
        font-size: 14px;
    }

    .cart-product-brand, .cart-product-price{
        font-weight: 600;
        padding:0;
    }

    .cart-total{
        margin-top:10px;
        width: 100%;
    }

    .cart-product-price{
        margin-top:100px;
    }

    .removeItem{
        position: absolute;
        bottom:10%;
    }
}