
#goToPrevSlide{
    position: absolute;
    bottom:65%;
    left:0.1%;
    transform: translate(0.1%,65%);
    font-size: 30px;
    cursor: pointer;
}

#goToNextSlide{
    position: absolute;
    bottom:65%;
    right:0.1%;
    transform: translate(0.1%,65%);
    font-size: 30px;
    cursor: pointer;
}

.related-product{
    width: 20.5rem;
    padding:0 14px;
}

#product-wrapper{
    margin:0  15px;
}

@media (max-width:600px){
    .related-product{
        width: 25rem;
        padding:10px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:-1%;
        transform: translate(-1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:-4%;
        transform: translate(-1%,60%);
    }
}

@media (min-width:600px) and (max-width:760px){

    .related-product{
        width: 20rem;
        height: 100%;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:-1%;
        transform: translate(-1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:-1%;
        transform: translate(-1%,60%);
    }
}

@media (max-width:1060px) and (min-width:760px){
    .related-product{
        width: 15rem;
        margin:0px;
    }
}

