.img-grid > img {
    width: 100%;
    height: 100%;
}

.prod-container {
    display: grid;
    grid-template-columns: 62% 38%;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

.img-grid {
    margin: 5px;
}

.prod-details {
    margin: 2%;
    padding-right: 5%;
}

.prod-cartBtn,
.prod-wishBtn {
    cursor: pointer;
    padding: 20px 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    background-color: #ff3e6c;
    color: white;
    font-weight: 600;
}

.prod-wishBtn {
    border: 1px solid #d4d5d9;
}

.prod-wishBtn:hover {
    border-color: black;
}

.prod-heading {
    font-size: 14px;
    line-height: 0.5;
    border-bottom: 1px solid #d4d5d9;
}

.prod-heading p {
    font-size: 20px;
    color: #535665;
    opacity: 0.8;
}

.prod-desc {
    line-height: 0.8;
    font-size: 16px;
    color: #282c3f;
}

.prod-subHeading {
    font-weight: 600;
}

.spcl {
    font-size: 18px;
}

.other-details {
    padding-top: 25px;
}

.fa-shopping-cart, .fa-heart{
    padding:0 10px;
}

#goToPrevSlide{
    position: absolute;
    bottom:65%;
    left:0.1%;
    transform: translate(0.1%,65%);
    font-size: 30px;
    cursor: pointer;
}

#goToNextSlide{
    position: absolute;
    bottom:65%;
    right:0.1%;
    transform: translate(0.1%,65%);
    font-size: 30px;
    cursor: pointer;
}

.related-product{
    width: 20rem;
    padding:0 20%;
}

#product-wrapper{
    margin:0  15px;
}

.cart-icon{
    position: absolute;
    right:20px;
    font-size: 20px;
}

.cart-count{
    position: absolute;
    top:-8px;
    right:10px;
    width: 18px;
    height: 15px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #ff3f6c;
    color:white;
    text-align: center;
    font-weight: 600;
}

.item{
    list-style: none;
    margin:0;
}

.poster-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

@media screen and (max-width:800px){
    .prod-container {
        display: flex;
        flex-direction: column;
    }

    .prod-heading {
        font-size: 10px;
        line-height: 1.2;
        border-bottom: 1px solid #d4d5d9;
    }

    .prod-details {
        margin: 5%;
    }

    .buttons{
        display: flex;
        flex-direction: row;
    }

    .prod-cartBtn, .prod-wishBtn {
        padding: 20px;
        margin-right:5%;
        font-size: 10px;
        font-weight: 100;
    }

    .prod-cartBtn{
        width:50%;
    }

    .cart-icon{
        position: absolute;
        right:2px;
        font-size: 20px;
    }

    .cart-count{
        position: absolute;
        right:10px;
    }
}


@media (max-width:600px){
    .related-product{
        width: 25rem;
        padding:10px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:-1%;
        transform: translate(-1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:-4%;
        transform: translate(-1%,60%);
    }
}

@media (min-width:600px) and (max-width:760px){

    .related-product{
        width: 20rem;
        height: 100%;
        padding:0 5%;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:-1%;
        transform: translate(-1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:-1%;
        transform: translate(-1%,60%);
    }
}

@media (max-width:1060px) and (min-width:700px){
    .related-product{
        width: 15rem;
        margin:0px;
    }
}

@media (min-width:400px) and (max-width:600px){
    .related-product{
        width: 22rem;
        padding:0 15%;
    }
}
