.img-grid > img {
    width: 100%;
    height: 100%;
}

.prod-container {
    display: grid;
    grid-template-columns: 41% 59%;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    height:10%;
}

.img-grid {
    margin: 5px;
}

.prod-details {
    margin: 2%;
    padding-right: 5%;
}

.prod-cartBtn,
.prod-wishBtn {
    cursor: pointer;
    padding: 20px 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    background-color: #ff3e6c;
    color: white;
    font-weight: 600;
}

.prod-wishBtn {
    border: 1px solid #d4d5d9;
}

.prod-wishBtn:hover {
    border-color: black;
}

.prod-heading {
    font-size: 14px;
    line-height: 0.5;
    border-bottom: 1px solid #d4d5d9;
}

.prod-heading p {
    font-size: 20px;
    color: #535665;
    opacity: 0.8;
}

.prod-desc {
    line-height: 0.8;
    font-size: 16px;
    color: #282c3f;
}

.prod-subHeading {
    font-weight: 600;
}

.spcl {
    font-size: 18px;
}

.other-details {
    padding-top: 25px;
}

.fa-shopping-cart, .fa-heart{
    padding:0 10px;
}

#goToPrevSlide{
    position: absolute;
    bottom:65%;
    left:0.1%;
    transform: translate(0.1%,65%);
    font-size: 30px;
    cursor: pointer;
}

#goToNextSlide{
    position: absolute;
    bottom:65%;
    right:0.1%;
    transform: translate(0.1%,65%);
    font-size: 30px;
    cursor: pointer;
}

#product-wrapper{
    margin:0  10px;
}

.cart-icon{
    position: absolute;
    right:20px;
    font-size: 20px;
}

.cart-count{
    position: absolute;
    top:-8px;
    right:10px;
    width: 18px;
    height: 15px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #ff3f6c;
    color:white;
    text-align: center;
    font-weight: 600;
}

.item{
    list-style: none;
    padding:0 18px;
}

.item img{
    width:300px;
    height:auto;
}

.poster-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.image-container{
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.thumbnail-list{
    position: absolute;
    left:0;
    list-style: none;
    margin:0;
    padding:0;
}

.thumbnail-list li img{
   width:64px;
   padding:0 2%;
   border-radius: 5px;
}

#main-image > img{
    position: absolute;
    left:15%;
    border-radius:5px;
    width:400px;
    height:530px;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /* z-index: 1; */
    width: 150px;
    height: 150px;
  }
  
  .img-zoom-result {
    display: 'none';
    position: absolute;
    right:2%;
    z-index: 1;
    width: 800px;
    height: 530px;
    margin:10px 0;
    border-radius: 5px;
  }
  
@media screen and (max-width:800px){
    .prod-container {
        display: flex;
        flex-direction: column;
    }

    .prod-heading {
        font-size: 10px;
        line-height: 1.2;
        border-bottom: 1px solid #d4d5d9;
    }

    .prod-details {
        margin: 5%;
    }

    .buttons{
        display: flex;
        flex-direction: row;
    }

    .prod-cartBtn, .prod-wishBtn {
        padding: 20px;
        margin-right:5%;
        font-size: 10px;
        font-weight: 100;
    }

    .prod-cartBtn{
        width:50%;
    }

    .cart-icon{
        position: absolute;
        right:2px;
        font-size: 20px;
    }

    .cart-count{
        position: absolute;
        right:10px;
    }
}

@media (max-width:325px){

    .item{
        list-style: none;
        padding:0 5px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:-1%;
        transform: translate(-1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:-1%;
        transform: translate(-1%,60%);
    }
}

@media (max-width:370px){

    .item img{
        width:290px;
        height:auto;
    }
}

@media (min-width:600px) and (max-width:700px){

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:-1%;
        transform: translate(-1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:-1%;
        transform: translate(-1%,60%);
    }
}

@media (max-width:1023px) and (min-width:700px){

    .item{
        padding:0 35px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:2%;
        transform: translate(2%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:3.5%;
        transform: translate(3.5%,60%);
    }
}

@media (min-width:1024px){
    .item{
        padding:0 18px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:1%;
        transform: translate(1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:1%;
        transform: translate(1%,60%);
    }
}

@media (min-width:400px) and (max-width:450px){
    .item{
        padding:0 45px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:7%;
        transform: translate(7%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:10%;
        transform: translate(10%,60%);
    }
}

@media (min-width:540px) and (max-width:600px){

    .item img{
        width:225px;
        height:auto;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:1%;
        transform: translate(1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:1%;
        transform: translate(10%,60%);
    }
}

@media (min-width:360px) and (max-width:400px){
    .item{
        padding:0 25px;
    }

    #goToPrevSlide{
        position: absolute;
        bottom:60%;
        left:1%;
        transform: translate(1%,60%);
    }
    
    #goToNextSlide{
        position: absolute;
        bottom:60%;
        right:5%;
        transform: translate(5%,60%);
    }
}


/* Image Slider */

.mySlides {display: none}
/* img {vertical-align: middle;} */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}